#parentbox
{
display: -moz-box;
display: -webkit-box;

-moz-box-orient: horizontal;
-webkit-box-orient: horizontal;
border: 1px solid #999999;

}

#box-1{
	border: 1px solid #999999;
	-moz-box-ordinal-group:2;
	-webkit-box-ordinal-group:2;
	box-ordinal-group: 2;
	

}
#box-2{
	border: 1px solid #999999;
	-moz-box-ordinal-group:4;
	-webkit-box-ordinal-group:4;
	box-ordinal-group: 4;
}
#box-3{
	border: 1px solid #999999;
	-moz-box-ordinal-group:3;
	-webkit-box-ordinal-group:3;
	box-ordinal-group:3;
}
#box-4{
	border: 1px solid #999999;
	-moz-box-ordinal-group:1;
	-webkit-box-ordinal-group:1;
	box-ordinal-group:1;
}	