body {
  text-align: center;
}
#mainbox {
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid #999999;
   background: #DDDDDD;

  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
   border-radius: 20px;

  -moz-box-shadow: rgb(150, 150, 150) 5px 5px 10px; 
  -webkit-box-shadow: rgb(150, 150, 150) 5px 5px 10px; 
          box-shadow: rgb(150, 150, 150) 5px 5px 10px; 


 background: -webkit-radial-gradient(center, ellipse, #FFFFFF, #000000);
background: -moz-radial-gradient(center, ellipse, #FFFFFF, #000000);
 



}
#title {
  font: bold 36px MyNewFont, verdana, sans-serif;
  text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
color: hsla(120, 100%, 50%, 0.5);
}
@font-face {
  font-family: 'MyNewFont';
  src: url('font.ttf');
}



