body {
  text-align: center;
}
body {
  text-align: center;
}
#mainbox {
  display: block;
  width: 500px;
  margin: 50px auto;
  padding: 15px;
  border: 1px solid #999999;
  background: #FFFFFF;
  
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
}



#title {
  font: bold 36px MyNewFont, verdana, sans-serif;
  text-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
color: hsla(120, 100%, 50%, 0.5);
}
@font-face {
  font-family: 'MyNewFont';
  src: url('font.ttf');
}




 


 